<?xml version="1.0"?>
<module
  description="Adds a Block that, when placed, will remove all preceeding blocks from the ContentArea."
  tags="EPiServerModulePackage"
  clientResourceRelativePath=""
  resourcePath="">
  <assemblies>
    <add assembly="eGandalf.Spellbook.ReductoBlock" />
  </assemblies>
</module>